<p>
	<br>
</p>
<div class="container">
	<div class="span-24 last">
		<h1 style="text-align:center">
			Calculate your daily subsistence allowance
		</h1>
	</div>
	<div class="span-4">
		<br>
	</div>
	<div class="span-16">
		<p>
			<%= form_tag(:method => "get") do %> 
				I am travelling to 
				<%= select(:id,nil, grouped_options_for_select(DsaDetail.dropdown), :prompt => '-select-') %> 
				for 
				<%= text_field_tag :nights, @nights %> nights <%= submit_tag("Calculate") %> 
			<% end %>
		</p>
		
		<table>
			<tr style="padding-bottom:2px;">
				<td width="10%"><h1><%= @dsa_rec.country.name %></h1></td>
				<td width="90%"><h4>(<%= @dsa_rec.city %>)</h4></td>
			</tr>
		</table>
		<hr>
		
		<ul id="results" class="span-16 boxsh">
			<li>
				<div class="span-8">
					<strong>Hotel</strong> allowance per night:<br>
					<strong>Cash</strong> allowance per night:<br>
					Number of <strong>nights</strong>:<br>
					<hr>
					<h2>
						Total:
					</h2>
				</div>
				<div class="span-8 last">
					<strong>$ <%= @hotel %><br>
					$ <%= @cash %><br>
					<%= @nights %><br></strong>
					<hr>
					<h2>
						$<%= @total %>
					</h2>($<%= @advanced_dsa %> available for advanced DSA)
				</div>
			</li>
		</ul>
		<ul id="copy" class="span-16 boxsh">
			<li>
				<label for="copypaste">Copy and paste this into Deltek</label><br>
				<textarea name="copypaste" id="copypaste" rows="3" cols="5" style="width:600px;height:100px;margin:10px">
<%= @deltek_text %>
</textarea>
			</li>
		</ul>
	</div>
	<div class="span-4 last">
		<br>
	</div>
</div>
