<!DOCTYPE html>
<html>
<head>
  <title>Dsa</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag 'blueprint/print' %>
  <%= stylesheet_link_tag 'blueprint/screen' %>
  <%= stylesheet_link_tag 'other/boxes' %>

  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
